<!-- <p>mod works!</p> -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Fill The Details
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <input
            class="form-control"
            type="text"
            name=""
            id=""
            placeholder="ENTER YOUR NAME"
          />
          <input
            class="form-control"
            type="email"
            placeholder="ENTER YOUR EMAIL"
          />
          <input
            class="form-control"
            type="text"
            name=""
            id=""
            placeholder="ENTER YOUR ADDRESS"
          />
          <input
            class="form-control"
            type="number"
            name=""
            id=""
            placeholder="ENTER YOUR PINCODE"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>