.image{
    height:70vh;
    width: 350px;
    border-radius: 15px;

}

ngb-rating{
    color:#FFc107;
    font-size:30px;
  }
  .btn{
    width:100%;
  }
  .button{
    margin:80px 0;
  }

  h1{
    color: rgba(162, 61, 61, 0.918);
    font-family: cursive;
    font-style: italic;
  }
  p{
    color: rgb(199, 152, 91);
    padding-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  