<footer class="bg-dark py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <!-- <h1 class="text-white text-uppercase fw-bold">Logo</h1> -->
            <a routerLink="/cuis">
              <img src="assets\image\logo\Logo Flame.jpg" class="image" alt="logoImg" />
            </a>
            <div class="py-5">
              <h5 class="text-white mb-3">This is Flame on</h5>
              <div class="d-flex">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter your query"
                />
                <button type="button" class="btn btn-danger mx-2">
                  Submit
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5 class="text-white text-uppercase fw-bold">Links1</h5>
            <ul class="list-unstyled gy-2">
              <li class="py-1">
                <a class="text-white" href="">home</a>
              </li>
              <li class="py-1">
                <a class="text-white" href="">Menu</a>
              </li>
              <li class="py-1">
                <a class="text-white" href="">contact us</a>
              </li>
              <li class="py-1">
                <a class="text-white" href="">cart</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h5 class="text-white text-uppercase fw-bold">Usefull Links :-</h5>
            <ul class="list-unstyled gy-2">
              <li class="py-1">
                <a class="text-white" href="/cuis">home</a>
              </li>
              <li class="py-1">
                <a class="text-white" href="/menu">Menu</a>
              </li>
              <li class="py-1">
                <a class="text-white" href="/contact">contact us</a>
              </li>
              <li class="py-1">
                <a class="text-white" href="/cart">cart</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h5 class="text-white text-uppercase fw-bold">Contact Us :-</h5>
            <ul class="list-unstyled gy-2">
              <li class="py-1">
                <h5 class="text-white fw-bold">Address:</h5>
                <h5 class="text-white">2/1/5 Sodepur,North 24 Paragana</h5>
              </li>
              <li class="py-1">
                <h5 class="text-white">Phone:</h5>
                <h5 class="text-white" href="">9876543210</h5>
              </li>
              <li class="py-1">
                <h5 class="text-white">Website:</h5>
                <a class="text-white" href="">http://localhost:4200/cuis</a>
              </li>
              <li class="py-1">
                <h5 class="text-white">Email:</h5>
                <a class="text-white" href="">flameon234@gmai.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <ul class="list-unstyled d-flex flex-row-reverse">
        <li class="px-2"><fa-icon style="font-size:20px;" class="text-white"  [icon]="face"></fa-icon></li>
        <li class="px-2"><fa-icon style="font-size:20px;" class="text-white" [icon]="yahoo"></fa-icon></li>
        <li class="px-2"><fa-icon style="font-size:20px;" class="text-white" [icon]="youtube"></fa-icon></li>
        <li class="px-2"><fa-icon style="font-size:20px;" class="text-white" [icon]="twitter"></fa-icon></li>
        <li class="px-2"><fa-icon style="font-size:20px;" class="text-white" [icon]="insta"></fa-icon></li>
      </ul>
    </div>
  </div>
</footer>
